<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>고객 문의 목록</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container">
<h1 class="my-4">미답변 문의 목록</h1>

<div class="d-flex justify-content-between align-items-center my-4">
  <!-- 로그아웃 버튼 -->
  <form action="/cs/logout" method="post" class="ml-auto">
    <button type="submit" class="btn btn-danger ">로그아웃</button>
  </form>
</div>

<!-- 카테고리 버튼 목록 -->
<div class="d-flex flex-wrap justify-content-start mb-3">
  <button class="btn btn-outline-primary m-1"
          th:classappend="${selectedCategory == null or selectedCategory == '' ? ' active' : ''}"
          onclick="location.href='/cs/admin'">전체 보기</button>
  <div th:each="category : ${categoryList}"
       class="m-1">
    <button class="btn btn-outline-primary"
            th:classappend="${category.name() == selectedCategory ? ' active' : ''}"
            th:onclick="|location.href='@{/cs/admin(category=${category.name()})}'|"
            th:text="${category.name}"></button>
  </div>
</div>

<!-- 문의 목록 테이블 -->
<table class="table table-bordered table-hover">
  <thead class="thead-light">
  <tr>
    <th>제목</th>
    <th>분류</th>
    <th>작성일시</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="inquiry : ${inquiryList}"
      th:onclick="|location.href='/cs/admin/answer/' + ${inquiry.id}|"
      style="cursor: pointer;">
    <td th:text="${inquiry.title}"></td>
    <td th:text="${inquiry.category.getName()}"></td>
    <td th:text="${#temporals.format(inquiry.createdAt, 'yyyy-MM-dd HH:mm')}"></td>
  </tr>
  </tbody>
</table>


</body>

</html>