<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>고객 문의 목록</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container">
<h1 class="my-4">문의 목록</h1>

<div class="d-flex justify-content-between mb-3">

  <!-- 문의 작성 버튼 -->
  <button class="btn btn-primary mb-3" onclick="location.href='/cs/inquiry/register'">문의하기</button>

  <!-- 로그아웃 버튼 -->
  <form action="/cs/logout" method="post">
    <button type="submit" class="btn btn-danger">로그아웃</button>
  </form>

</div>

<!-- 문의 목록 테이블 -->
<table class="table table-bordered table-hover">
  <thead class="thead-light">
  <tr>
    <th>제목</th>
    <th>분류</th>
    <th>작성일시</th>
    <th>답변 여부</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="inquiry : ${inquiryList}"
      th:onclick="|location.href='/cs/inquiry/' + ${inquiry.id}|"
      style="cursor: pointer;">
    <td th:text="${inquiry.title}"></td>
    <td th:text="${inquiry.category.getName()}"></td>
    <td th:text="${#temporals.format(inquiry.createdAt, 'yyyy-MM-dd HH:mm')}"></td>
    <td th:text="${inquiry.answered ? '답변 완료' : '답변 없음'}"
        th:class="${inquiry.answered ? 'text-success' : 'text-danger'}"></td>
  </tr>
  </tbody>
</table>


</body>

</html>