<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>문의 상세 내역</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

  <style>

    .answer-status {
      font-weight: bold;
    }
    .no-answer {
      color: red;
    }
    .answered {
      color: green;
    }


  </style>

</head>
<body class="container mt-5">

<div class="d-flex justify-content-between mb-3">
  <h1 class="mb-4">문의 상세 내역</h1>
  <button type="submit" class="btn btn-primary" style="height: 50px" onclick="location.href='/cs/'">목록</button>
</div>

<!-- 문의 상세 정보 -->
<div class="card">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <h5 class="card-title" th:text="${inquiry.title}">제목</h5>
      <small class="text-muted" th:text="${#temporals.format(inquiry.createdAt, 'yyyy-MM-dd HH:mm')}">작성일시</small>
    </div>
    <h6 class="card-subtitle mb-2 text-muted" th:text="${inquiry.category.getName()}">분류</h6>
    <p class="card-text" th:text="${inquiry.content}">본문</p>
  </div>
</div>

<!-- 이미지 -->
<div>
  <div class="image-gallery">
    <div th:each="image : ${inquiry.images}">
      <img
              th:src="@{|/images/${image}|}"
              alt="이미지 로드 실패"
              class="img-thumbnail"
              onerror="this.style.display='none'; this.nextElementSibling.style.display='block';"
      />
      <span style="display:none;" class="no-image-text">이미지 서버에 업로드 중...</span>
    </div>
  </div>
</div>

<div class="mb-3">
                <span class="answer-status" th:class="${inquiry.answered ? 'answered' : 'no-answer'}"
                      th:text="${inquiry.answered ? '답변 완료' : '답변 없음'}"></span>
</div>

<!-- 답변이 있는 경우 -->


<div th:if="${inquiry.answered}">
  <div class="card">
    <div class="card-body">

      <div class="d-flex justify-content-between">
        <p><strong>CS 담당자:</strong> <span th:text="${name + ' (' + answer.adminId + ')'}">담당자 아이디</span></p>
        <small class="text-muted" th:text="${#temporals.format(answer.createdAt, 'yyyy-MM-dd HH:mm')}">작성일시</small>
      </div>

      <h6>답변 내용</h6>
      <p th:text="${answer.content}">답변 내용</p>

    </div>
  </div>
</div>


</body>
</html>